body {
  background-color: #fcfcfc;
}

.meet {
  background: linear-gradient(0deg,
      rgba(252, 252, 252, 0) 0%,
      rgba(252, 252, 252, 0.588785) 30.21%,
      #fcfcfc 60.94%),
    url("../img/fundo.png");
  height: calc(100vh - 76.53px);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

@import url("https://fonts.googleapis.com/css2?family=Fresca&display=swap");

html {
  min-height: 100vh;
  height: 100%;
}

h2 {
  font-family: "Fresca", sans-serif;
  color: var(--blue);
  font-size: 2.6rem;
  text-align: center;
}

/* background */
.web-background {
  background: rgb(0, 0, 0);
  background: linear-gradient(90deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(255, 255, 255, 1) 50%,
      rgba(255, 255, 255, 1) 100%),
    url("../img/fundo.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.container.contact {
  align-items: center;
  height: calc(100vh - 76.53px) !important;
  justify-content: space-between;
  flex-direction: row;
}

.contact {
  height: 400px !important;
}

.title-contact {
  border-bottom: 1px solid var(--blue);
  margin-bottom: 2.25rem !important;
  width: 37.5rem;
  justify-content: center;
  display: flex;
  align-items: center;
  margin: auto;
}

.btn-contact {
  font-weight: 500;
  padding: 0.625rem 1.56rem;
  color: var(--blue);
  width: fit-content;
  border: none;
  background-color: var(--yellow);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  transition: all 0.2s;
}

.btn-contact:hover {
  background-color: var(--pink);
  color: var(--white);
  transform: scale(1.06);
}

.img-logo {
  width: 28.75rem;
}

.form-contact {
  align-items: center;
}

.messageAlert {
  color: var(--pink);
  font-size: 15px;
  margin-bottom: -0.5rem;
  padding-left: 0.5rem;
}

.inputContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.input-contact {
  padding: 0.7rem 1.43rem;
  width: 28.75rem;
  border: 0.5px solid var(--blue);
  border-radius: 5px;
  resize: none;
}

.input-contact:focus {
  border: 2px solid var(--blue) !important;
  outline: 0;
}

.input-contact::placeholder {
  color: var(--blue);
}

.link-contact {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

/* responsividade */
@media screen and (max-width: 1366px) {
  .img-logo {
    width: 35%;
  }
}

@media screen and (max-width: 1183px) {
  .img-logo {
    width: 35%;
    margin-bottom: 1rem;
  }

  .container.contact {
    height: auto !important;
    flex-direction: column !important;
  }
}

@media screen and (max-width: 1000px) {
  .container {
    flex-direction: column;
    justify-content: center !important;
  }
}

@media screen and (max-width: 643px) {
  .title-contact {
    width: 90%;
  }

  form {
    width: 90vw;
  }

  #contact {
    display: flex;
    flex-direction: column;
  }

  .input-contact {
    width: 100%;
  }

  .img-logo {
    display: none;
  }
}