/* container */
body>div.container {
    padding-top: 2.38rem;
}

/* card */
.card {
    margin: auto;
    margin-bottom: 1.5rem;
    width: 44rem;
}

.card-img,
.card-img-top {
    border-radius: 0;
    object-fit: cover;
    max-width: 100vw;
}

.post-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.user {
    display: flex;
    align-items: center;
    padding: 1rem;
}

.user-image {
    border-radius: 50%;
    width: 2.7rem;
    height: 2.5rem;
    overflow: hidden;
    position: relative;
}

.user-image img {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

p.user-name {
    margin-bottom: 0;
    margin-left: 1.1rem;
    font-weight: 600;
}

.user-localization {
    margin-left: 1.1rem;
    color: #8e8e8e;
    margin-bottom: 0;
    font-size: 14px;
}

i.icon-alert-triangle {
    color: var(--pink) !important;
    font-size: 25px !important;
}

.report {
    background-color: transparent;
    border: 0;
}

.modal-dialog {
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    display: flex;
}

.modal-content-feed {
    width: 21.88rem;
    height: 15.63rem;
}

.modal-header {
    justify-content: center;
}

.modal-body-feed {
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
}

.modal-body-feed.two {
    flex-direction: column;
}

.modal-footer-feed {
    justify-content: space-between;
}

.denounce {
    color: var(--pink);
    background-color: var(--white);
    font-weight: 600;
    border: 0;
}

.denounce:hover {
    color: var(--pink);
}

.cancel {
    color: var(--black);
    background-color: var(--white);
    border: 0;
}

.cancel:hover {
    background-color: var(--white);
    color: var(--blak);
}

.btn-close {
    z-index: 1;
}

.text {
    text-align: center;
    width: 100%;
    position: absolute;
}

.modal-content-feed.two {
    width: 50rem;
    height: auto;
}

.motive-denounces {
    resize: none;
}

.modal-footer-feed.two {
    justify-content: flex-end;
}

.warning {
    height: 70vh;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
}

i.icon-alert-triangle.two {
    font-size: 40px;
}

/* Media Screen */
@media screen and (max-width: 767px) {
    .container {
        max-width: 100vw;
    }

    .card {
        width: 35rem;
    }
}

@media screen and (max-width: 630px) {
    .card {
        width: 28rem;
    }
}

@media screen and (max-width: 500px) {
    .card {
        width: 24rem;
    }
}

@media screen and (max-width: 415px) {
    .card {
        width: 18.5rem;
    }
}