/* container */
body>div.container {
    padding-top: 2.38rem;
}

/* Pesquisa */
.search {
    width: 43.75rem;
    height: 3.32rem;
    margin: auto;
}

.form-control {
    border: 0.03rem solid var(--gray);
    border-radius: 8px;
    padding-left: 3rem;
}

.icon {
    position: absolute;
    height: 38px;
    display: flex;
    align-items: center;
    padding-left: 1rem;
}

i.icon-search {
    font-size: 20px;
}

input:focus,
input:hover,
button:focus,
button:hover,
textarea:focus,
textarea:hover {
    box-shadow: none !important;
    border-color: var(--gray) !important;
    outline: 0;
}

/* card */
.card {
    margin: auto;
    margin-bottom: 1.5rem;
    width: 44rem;
}

.card-img,
.card-img-top {
    border-radius: 0;
    object-fit: cover;
    max-width: 100vw;
}

.post-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.user {
    display: flex;
    align-items: center;
    padding: 1rem;
}

.user-image {
    border-radius: 50%;
    width: 2.7rem;
    height: 2.5rem;
    overflow: hidden;
    position: relative;
}

.user-image img {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

p.user-name {
    margin-bottom: 0;
    margin-left: 1.1rem;
    font-weight: 600;
}

i.icon-alert-triangle {
    color: var(--pink);
    font-size: 25px;
}

.report {
    background-color: transparent;
    border: 0;
}

.modal-dialog {
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    display: flex;
}

.modal-content {
    width: 21.88rem;
    height: 15.63rem;
}

.modal-header {
    justify-content: center;
}

.modal-body {
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
}

.modal-body.two {
    flex-direction: column;
}

.modal-footer {
    justify-content: space-between;
}

.denounce {
    color: var(--pink);
    background-color: var(--white);
    font-weight: 600;
    border: 0;
}

.denounce:hover {
    color: var(--pink);
}

.cancel {
    color: var(--black);
    background-color: var(--white);
    border: 0;
}

.cancel:hover {
    background-color: var(--white);
    color: var(--blak);
}

.btn-close {
    z-index: 1;
}

.text {
    text-align: center;
    width: 100%;
    position: absolute;
}

.modal-content.two {
    width: 50rem;
    height: auto;
}

#motive-denounces {
    padding: 1rem;
    resize: none;
}

.modal-footer.two {
    justify-content: flex-end;
}

.warning {
    height: 70vh;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
}

i.icon-alert-triangle.two {
    font-size: 40px;
}

@media screen and (max-width: 767px) {
    .container {
        max-width: 100vw;
    }

    .form-control {
        width: 35rem;
    }

    .search {
        justify-content: center;
        display: flex;
    }

    .card {
        width: 35rem;
    }
}

@media screen and (max-width: 720px) {
    .search {
        width: 0;
    }
}

@media screen and (max-width: 630px) {
    .card {
        width: 28rem;
    }

    .form-control {
        width: 28rem;
    }
}

@media screen and (max-width: 500px) {
    .card {
        width: 24rem;
    }

    .form-control {
        width: 24rem;
    }
}

@media screen and (max-width: 415px) {
    .card {
        width: 18.5rem;
    }

    .form-control {
        width: 18.5rem;
    }
}