@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?mcay3');
  src:  url('fonts/icomoon.eot?mcay3#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?mcay3') format('truetype'),
    url('fonts/icomoon.woff?mcay3') format('woff'),
    url('fonts/icomoon.svg?mcay3#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-youtube-play:before {
  content: "\e919";
}
.icon-brazil:before {
  content: "\e900";
}
.icon-usa:before {
  content: "\e901";
}
.icon-arrow_drop_down:before {
  content: "\e916";
}
.icon-translate:before {
  content: "\e90c";
}
.icon-github:before {
  content: "\e90f";
}
.icon-file-text:before {
  content: "\e910";
}
.icon-file:before {
  content: "\e910";
}
.icon-document:before {
  content: "\e910";
}
.icon-list:before {
  content: "\e910";
}
.icon-paper:before {
  content: "\e910";
}
.icon-page:before {
  content: "\e910";
}
.icon-blogger:before {
  content: "\e911";
}
.icon-brand:before {
  content: "\e911";
}
.icon-social:before {
  content: "\e911";
}
.icon-chevron-down:before {
  content: "\e91c";
}
.icon-chevron-up:before {
  content: "\e91d";
}
.icon-x:before {
  content: "\e91a";
}
.icon-check:before {
  content: "\e91b";
}
.icon-lock:before {
  content: "\e917";
}
.icon-edit-2:before {
  content: "\e918";
}
.icon-log-out:before {
  content: "\e912";
}
.icon-alert-circle:before {
  content: "\e913";
}
.icon-message-circle:before {
  content: "\e914";
}
.icon-settings:before {
  content: "\e915";
}
.icon-clock:before {
  content: "\e90e";
}
.icon-mail:before {
  content: "\e90d";
}
.icon-user:before {
  content: "\e902";
}
.icon-globe:before {
  content: "\e903";
}
.icon-map-pin:before {
  content: "\e904";
}
.icon-image:before {
  content: "\e905";
}
.icon-search:before {
  content: "\e906";
}
.icon-edit-3:before {
  content: "\e907";
}
.icon-plus:before {
  content: "\e908";
}
.icon-alert-triangle:before {
  content: "\e909";
}
.icon-eye-off:before {
  content: "\e90a";
}
.icon-eye:before {
  content: "\e90b";
}
